<div class="allComponent">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label for="userName">Username : </label>
        <input id="userName" type="text" formControlName="userName">
        <label for="email">Email : </label>
        <input id="email" type="email" formControlName="email">
        <label for="password">Password : </label>
        <input id="password" type="password" formControlName="password">
        <label for="passwordConfirmation">Confirm password : </label>
        <input id="passwordConfirmation" type="password" formControlName="passwordConfirmation">
        <input id="submitBtn" type="submit" value="Register">
    </form>
</div>